<%= render 'layouts/home'%>
  <div class="right_col" role="main" style="min-height: 600px;">
    <div class="x_panel" style="min-height: 600px;">
      <div class="x_title">
					<div class="clearfix"></div>
					<div class="jumbotron">
      	    <h1>Welcome to HomeWorker</h1>
          </div>
					<%=t('Main.welcome')%>
			</div>
		</div>
	</div>
	