<%= render 'layouts/home'%>
  <div class="right_col" role="main" style="min-height: 600px;">
    <div class="x_panel" style="min-height: 600px;">
      <div class="x_title">
					<div class="clearfix"></div>
					<div class="jumbotron">
      	    <h1>Welcome to HomeWorker</h1>
          </div>
					<p>This is the sample app HomeWorker where the cleaners are booked online for home cleaning.</p>
					<p>To Register your self go to customer/cleaner option.</p>
					<p>The Customers can book cleaners directly if they are Registerd.</p>
					<p>Cleaners get Email when the new booking is creted.</p>
			</div>
		</div>
	</div>
	