<div class="nav navbar-nav navbar-right">
    <p>This is the Sample app of Theme Integration.</p>
    <span class="right">
    <i class="fa fa-envelope"> hp@mail.com</i>&nbsp;&nbsp;
    <i class="fa fa-phone-square"> 7676767676</i>
    </span>
</div>


    
